@charset 'utf-8';
       
        .main_banner{width: 100%; margin-top: 72px;}
        div[class*=banner]{height: 418px;background-size:200%;background-repeat:no-repeat;background-position:center;}
        .banner04{background-image: url('../images/main_banner04.png');}
