@charset 'utf-8';

.skip_menu{position: absolute;left:0;top:0; z-index: 999999;}
.skip_menu p{width: 150px;background:#00b900;padding:5px 0;text-align:center;display:none;}
.skip_menu a{color:white;}